.asset-gallery {

    .asset {
        height: 400px;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        border-bottom: 6px solid $colour-primary;

        &.asset-dark {
            background-color: #2D093B;
        }

        &.asset-greyscale-dark {
            background-color: #191919;
        }
    }

    &.asset-gallery-logo {

        .asset {
            background-size: 50%;
        }
    }

    &.asset-gallery-brandmark {

        .asset {
            background-size: 25%;
        }
    }

    &.asset-gallery-wordmark {

        .asset {
            background-size: 25%, 20%;
            background-position: 50%, bottom right;
        }
    }

    &.asset-gallery-sub-brand-go {

        .asset {
            background-size: 33.3%, 10%, 10%;
            background-position: 50% 25%, 25% 87.5%, 75% 83.5%;
        }
    }

    &.asset-gallery-products-fluxashop,
    &.asset-gallery-products-pinnacleapp,
    &.asset-gallery-products-bikecatalogue {

        .asset {
            background-size: 75%, 10%, 30%;
            background-position: 50% 25%, 25% 87.5%, 75% 83.5%;
        }
    }
}
