* {
    font-family: 'Montserrat Light', sans-serif;
    color: #333;
}

h1 {
    font-family: 'Montserrat Extra Bold', sans-serif;
    color: $colour-primary;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    color: $colour-primary;
}

.font-demo {
    font-size: 1.5em;

    .montserrat-black {
        font-family: 'Montserrat Black';
    }

    .montserrat-bold {
        font-family: 'Montserrat Bold';
    }

    .montserrat-extra-bold {
        font-family: 'Montserrat Extra Bold';
    }

    .montserrat-hairline {
        font-family: 'Montserrat Hairline';
    }

    .montserrat-light {
        font-family: 'Montserrat Light';
    }

    .montserrat-regular {
        font-family: 'Montserrat Regular';
    }

    .montserrat-semi-bold {
        font-family: 'Montserrat Semi Bold';
    }

    .montserrat-ultra-light {
        font-family: 'Montserrat Ultra Light';
    }
}
