.usage-examples {

    .usage-example {
        width: 100%;
        margin-bottom: 20px;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        border-bottom: 6px solid $colour-primary;

        &.usage-example-dark {
            color: #ddd;
            background-color: #2D093B;
        }

        &.usage-example-greyscale-dark {
            color: #ddd;
            background-color: #191919;
        }

        @media (max-width: 767px) {
            height: 260px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            height: 168px;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            height: 162px;
        }

        @media (min-width: 1200px) {
            height: 200px;
        }
    }
}

img.minimum-size {
    border: 1px dashed #231F20;
    margin-bottom: 20px;
}
