<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>On2 Media Brand Assets &amp; Guidelines</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body data-spy="scroll" data-target="#nav">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav id="nav" class="affix">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="#logo">Logo</a></li>
                            <li role="presentation"><a href="#symbol">Symbol</a></li>
                            <li role="presentation"><a href="#logotype">Logotype</a></li>
                            <li role="presentation"><a href="#formats">Formats</a></li>
                            <li role="presentation"><a href="#colours">Colours</a></li>
                            <li role="presentation"><a href="#typography">Typography</a></li>
                            <li role="presentation"><a href="#usage-guidelines">Usage Guidelines</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    <img src="/assets/brand/on2-media-logo-320x132.png" width="240" height="99" alt="On2 Media">
                    {{ content }}
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </body>
</html>
