<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>On2 Media Brand Assets &amp; Guidelines</title>

        <link href="{{ site.baseurl }}/styles.css" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body data-spy="scroll" data-target="#nav">

        <div class="container">
            <div class="row hero">
                <div class="col-sm-3">
                    <div id="brand" class="hidden-xs hidden-sm" data-spy="affix">
                        <a href="#">
                            <img src="{{ site.baseurl }}/assets/brand/On2Media-logo-lightbg.png" alt="On2 Media" class="img-responsive">
                        </a>
                    </div>
                    <div class="visible-xs-block visible-sm-block">
                        <a href="#">
                            <img src="{{ site.baseurl }}/assets/brand/On2Media-logo-lightbg.png" alt="On2 Media" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div>
                        <h1>Brand Assets &amp; Guidelines</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 hidden-xs hidden-sm">
                    <nav id="nav" data-spy="affix" data-offset-top="0" data-offset-bottom="130">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="#logo">Logo</a></li>
                            <li role="presentation"><a href="#brandmark">Brandmark</a></li>
                            <li role="presentation"><a href="#wordmark">Wordmark</a></li>
                            <li role="presentation"><a href="#sub-brands">Sub-Brands</a></li>
                            <li role="presentation"><a href="#products">Products</a></li>
                            <li role="presentation"><a href="#colours">Colours</a></li>
                            <li role="presentation"><a href="#typography">Typography</a></li>
                            <li role="presentation"><a href="#usage-guidelines">Usage Guidelines</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    {{ content }}
                </div>
            </div>
            <div class="row copyright">
                <div class="col-xs-12">
                    <hr>
                    &copy;2016, <a href="https://on2media.com">On2 Media</a> Ltd.
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </body>
</html>
